$IMCCONFIG

# IMC2 Freedom CL-2.1 SocketMud 2.1 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      CMud
Autoconnect    1
MinPlayerLevel 1
MinImmLevel    3
AdminLevel     3
Implevel       4
InfoName       CMud
InfoHost       grevin.sytes.net
InfoPort       4050
InfoEmail      pfchrono@gmail.com
InfoWWW        none
InfoBase       SocketMud 2.1
InfoDetails    Barebone SocketMud project.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     grevin.sytes.net
ServerPort     5002
ClientPwd      imccmud
ServerPwd      imccmud
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
#Your server is expecting SHA256 authentication now. Do not remove this line unless told to do so.
SHA256Pwd      1
End

$END
